node_modules/
lerna-debug.log
npm-debug.log
packages/*/lib
packages/*/dist
integration/*/dist
.idea
coverage/
tsconfig.build.tsbuildinfo
yarn-error.log
*.pem
*.txt

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
